p {
  font-family: 'Share Tech Mono', monospace;
  color: white;
  margin-top: 30px;
  font-size: 28px;
}

p.answers {
  font-family: 'Share Tech Mono', monospace;
  color: #66CDAA;
}

body {
  text-align: center;
  /* background-color:  #0038A8; */
  background-image: linear-gradient(to right, #0038A8, #D60270)
}

h1 {
  color: #F5F5F5;
  font-family: 'Cabin Sketch', cursive;
}

h2 {
  font-family: sans-serif;
}

input.submit_button {
  margin-top: 20px;
  width: 200px;
  height: 200px;
  font-size: 50px;
}

button {
  font-family: 'Share Tech Mono', monospace;
  font-size: 18px;
  width: 300px;
  height: 50px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
  margin: 20px;
  text-align: center;
}
